.projects {
  background: linear-gradient(to right, #f8f8f8, #fcfcfc, #f8f8f8);
  height: 110vh;
  font-family: "Roboto", sans-serif;
  text-align: center;
  h1 {
    padding: 75px;
    font-size: 28px;
  }
}

.project-container {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 70px;
  column-gap: 70px;
  align-content: space-around;
  justify-content: center;
  .project-card {
    width: 220px;
    height: 150px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    transition: 200ms;
  }
  .project-card:hover {
    transform: scale(1.1);
  }
  .project-card:hover > .hover-link {
    display: flex;
  }
  img {
    width: 220px;
    height: 150px;
    border-radius: 4px;
    z-index: 1;
  }
}

.hover-link {
  position: absolute;
  display: none;
  top: calc(25% + 10px);
  margin-left: -1px;
  width: calc(100% - 18px);
  height: calc(50% - 20px);
  background-color: #f0f0f0;
  transition: 200ms;
  justify-content: center;
  align-items: center;
  a{
    text-decoration: none;
  }
  i{
      width: 70px;
      height: 40px;
      margin: 5px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 200ms;
      color: #1B9CFC;
  }
  i:hover{
    transform: scale(1.2);
      cursor: pointer;
  }
}
