@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
  margin: 0px;
  padding: 0px;
}
::selection {
  color: white;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 0px;
}
